html {
    background-color: pink;
    font-size: 62.5%;
}
body {
    font-size: 14px;
    font-size: 1.4rem;
}
h1 {
    font-size: 2.4rem;
}
.page.container {
    padding-left: 2rem;
    padding-right: 2rem;
}
.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.recipes.wrapper > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
}
.footer {
    display: grid;
    gap:10px;
}
img {
    height: 20rem;
    width: auto;
    border: 5rem solid rgba(248, 139, 164, 0.673);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}